 #mobile-outline {
    outline: 20px solid #333;
    max-width: 412px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
 } 
 #mobile-outline1 {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
} 
 
 body {
    color: #626262;
    font-family: 'Georgia', 'Times New Roman', serif;
 }

 /* h2 {
   font-style: normal;
 } */
 
 a {
    text-decoration: none;
    transition: all .5s ease-in-out;
 }
 
 input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }
 
 .cr-red {
    color: #9a2018;
 }

 .cr-white {
   color: white;
 }
 
 
 /* 2. ---Main Nav--- */

 #main-nav ul li a:hover {
    color: #9A2018;
 }
 
  #main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px; 
 } 
 
 #main-nav input, #burger-con {
    display: none;
 }
 
 #main-nav input:checked ~ #burger-con {
    display: block;
 }
 
 #main-nav input:checked ~ label img {
    transform: rotate(90deg);
 }
 

 #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-nav ul li a {
    display: block;
    padding: 15px 0 15px 0;
    text-align: left;
    color: #3B3B3B;
 }
 
 #main-nav ul li {
    border-bottom: 1px solid #D15F57;
 }

 #main-nav ul li:first-child {
    border-top: 1px solid #D15F57;
 }
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
 }
 
 #logo {
    margin-bottom: 20px;
    max-width: 382px;
 }


 
 
 /* 3. ---Main Hero Image--- */
 
 #hero {
    background: url(../images/hero-main.jpg) no-repeat;
    height: 200px;
 }

 #hero1 {
   background: url(../images/Dining-mb-01.jpg) no-repeat;
   height: 200px;
}

 #hero2 {
   background: url(../images/Dining-mb-02.jpg) no-repeat;
   height: 200px;
 }
 #hero3 {
   background: url(../images/spa_info_mb.jpg) no-repeat;
   height: 200px;
}

#hero4 {
   background: url(../images/Unforeseen-Circumstances.jpg) no-repeat;
   height: 200px;
}

#hero5 {
   background: url(../images/On_Spa_mb.jpg) no-repeat;
   height: 200px;
}

#hero6 {
   background: url(../images/product_mb.jpg) no-repeat;
   height: 200px;
}

#hero7 {
   background: url(../images/spa_mb.jpg) no-repeat;
   height: 200px;
}
 
 .book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 16px;
    transition: background-color 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition:all 0.3s ease;
    cursor: pointer;
 }
 
 .book-now:hover {
    background-color: rgb(196, 28, 28);
 }
 
 #book-now-hero {
    height: 67px;
 }
 
 #hero-heading-box {
   /* background: url(../images/Dining-mb-01.jpg) no-repeat; */
    align-self: end;
    /* height: 200px; */
 }

 #hero-heading-box1 {
   /* background: url(../images/Dining-mb-01.jpg) no-repeat; */
    align-self: end;
    /* height: 200px; */
 }

 #hero-heading-box2 {
   /* background: url(../images/Dining-mb-01.jpg) no-repeat; */
    align-self: end;
    /* height: 200px; */
 }

 #hero-heading-box3 {
   /* background: url(../images/Dining-mb-01.jpg) no-repeat; */
    align-self: end;
    /* height: 200px; */
 }

 #hero-heading-box4 {
   /* background: url(../images/Dining-mb-01.jpg) no-repeat; */
    align-self: end;
    /* height: 200px; */
 }


 #heading-dropdown-title {
   z-index: 9999;
   position: absolute;
   width: 385px;
   left: 13px;
   top: 150px;
 }

 #heading-dropdown-title span {
   font-size: 100px;
 }

 #heading-dropdown-title1 {
   z-index: 9999;
   position: absolute;
   width: 385px;
   left: 13px;
   top: 150px;
 }

 #heading-dropdown-title1 span {
   font-size: 100px;
 }


 #heading-dropdown-title2 {
   z-index: 9999;
   position: absolute;
   width: 385px;
   left: 13px;
   top: 150px;
 }

 #heading-dropdown-title2 span {
   font-size: 100px;
 }

 #heading-dropdown-title3 {
   z-index: 9999;
   position: absolute;
   width: 385px;
   left: 13px;
   top: 150px;
 }

 #heading-dropdown-title3 span {
   font-size: 100px;
 }

 #heading-dropdown-title4 {
   z-index: 9999;
   position: absolute;
   width: 385px;
   left: 13px;
   top: 150px;
 }

 #heading-dropdown-title4 span {
   font-size: 100px;
 }
 /* #head-dropdown1 {
   background-image: url(../images/Dining-mb-01.jpg);
 } */
 
 .hero-img-h2, .hero-img-h3 {
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 14px;
 }
 
 .hero-img-h2 span,  .hero-img-h3 span {
    color: #9a2018;
    font-size: 12px;
 }
 
 .line-separator {
    margin-top: 20px;
    border-top: solid 3px #CF6666;
    padding-top: 30px;
 }

 .line-separator1 {
   margin-top: 0px;
   border-top: solid 3px #CF6666;
   padding-top: 0px;
}

.line-separator2 {
   margin-top: 20px;
   border-top: solid 3px #CF6666;
   padding-top: 250px;
}

 #heading-dropdown1 {
   background: url(../images/hot_stone_mb.jpg);
   height: 200px;
   position: absolute;
   left: 0px;
 }

 #heading-dropdown2 {
   background: url(../images/foot_treatment_mb.jpg);
   height: 200px;
   position: absolute;
   left: 0px;
 }

 #heading-dropdown3 {
   background: url(../images/scrubs_spa_mb.jpg);
   height: 200px;
   position: absolute;
   left: 0px;
 }

 #heading-dropdown4 {
   background: url(../images/waxing_spa_mb.jpg);
   height: 200px;
   position: absolute;
   left: 0px;
 }

 #heading-dropdown5 {
   background: url(../images/Aligonquin_spa_mb.jpg);
   height: 200px;
   position: absolute;
   left: 0px;
 }

 #hero-summary-section1 {
   margin-top: 40px;
 }

 #hero-summary-section2 {
   margin-top: 40px;
 }
 
 #hero-summary p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
 }

 #hero-summary1 p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

#hero-summary2 p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

#hero-summary3 p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

#hero-summary4 p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

#hero-summary5 p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

#hero-summary6 p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

#hero-summary7 p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

#hero-summary8 p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

#hero-summary9 p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

#hero-summary10 p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

#hero-summary11 p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

 .hero-summary-text {
   font-weight: bold;
}

.hero-summary-text1 {
   font-style: italic;
}

.hero-summary-text2 {
   font-weight: bold;
   font-style: italic;
}
 
 /* 4. ---Main Hero Image Contact--- */
 
 .fas {
    font-size: 42px;
    color: #9a2018;
    margin: 0 auto;
    float: left;
 }
 
 .fa-mobile-alt {
    margin-right: 10px;
    margin-left: 3px;
    margin-bottom: 20px;
 }
 
 .fa-map-marker-alt {
    margin-right: 10px;
 }
 
 #contact {
    font-size: 11px;
    background-color: #efefef;
    padding-top: 30px;
    padding-bottom: 30px;
 }
 
 /* 5. ---Why Choose Us--- */
 
  #why-choose-us {
    background-color: #ffffff;
  }

  #why-choose-us-nav {
    padding-top: 20px;
 }

 #why-choose-us-nav img {
   padding-top: 20px;
}
 
 #why-choose-us-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 #why-choose-us-nav ul li {
    margin-bottom: 15px;
 }
 
 #why-choose-us-nav ul li a {
   color: inherit;
   padding: 5px;
 }
 
 /* #why-choose-us-nav ul li a.selected {
    border-left: #9a2018 solid 5px;
  } */

 #why-choose-us-nav ul li a.selected:hover {
   border-left: #9a2018 solid 5px;
   color: #9a2018;
 }
 
 
 #why-choose-us-hero-con {
   background: url(../images/why-choose-us-hero.jpg) no-repeat;
   height: 195px;
   /* padding: 50px; */
 }
 
 #why-choose-us-heading-box {
    align-self: end;
 }
 
 .why-choose-us-image {
    float: left;
    margin-right: 20px;
    margin-top: 30px;
 }

 .why-choose-us-image img {
   width: 150px;
 }
 
 .why-choose-us-image-con h2 {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 30px;
 }
 
 .why-choose-us-image-con p {
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 20px;
 }
 
 .why-choose-us-image-con a {
    color: #707070;
    font-size: 12px;
 }

 #why-choose-us-bottom-nav {
   background-color: #CF6666;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 30px;
}

#why-choose-us-bottom-nav ol {
   list-style-type: none;
   margin: 0 0 0 20px;
}

#why-choose-us-bottom-nav ol li {
   display: inline;
}

#why-choose-us-bottom-nav ol li a {
   padding: 10px;
   color: #fff;
}

#why-choose-us-bottom-nav ol li a:hover {
   color: #7c2626;
}

 
 #about-hero-con {
    background: url(../images/about-us-hero.jpg) no-repeat;
    height: 195px;
 }
 
 #about-hero-heading-box {
    align-self: end;
 }
 
 #about-us-text {
    padding-bottom: 60px;
 }
 
 #about-us-text p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 22px;
 }
 
 #about-us-text-column2 {
    font-style: italic;
 }
 
 #faq-con {
    background-color: #f4f4f4;
    padding-top: 35px;
    padding-bottom: 70px;
 }
 
 #faq-con h2 {
    font-size: 24px;
    /* margin-bottom: 20px; */
 }
 
 #faq-con h2 span {
    color: #9a2018;
    font-size: 16px;
 }
 
 .faq-items {
    margin-bottom: 16px;
 }
 
 .faq-items h3 {
    background: #e8e7e7;
    padding: 16px;
    font-size: 16px;
 }
 
 .faq-items ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
 }
 
 .faq-items li {
    padding: 8px 0;
    border-bottom: 1px solid #9a2018;
 }   
 
 .faq-items a {
    color: inherit;
    font-size: 13px;
 }
 
 #faq-text-con {
    margin-top: 20px;
    margin-bottom: 20px;
 }


 .faq-items {
    margin-bottom: 16px;
 }
 
 .faq-items h3 {
    background: #e8e7e7;
    padding: 16px;
    font-size: 16px;
 }
 
 .faq-items ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
 }
 
 .faq-items li {
    padding: 8px 0;
    border-bottom: 1px solid #9a2018;
 }   
 
 .faq-items a {
    color: inherit;
    font-size: 13px;
 }
 
 #faq-text-con {
    margin-top: 20px;
    margin-bottom: 20px;
 }

 /* kwmdmwodow */


 .list-item {
   margin-top: 25px;
   margin-bottom: 25px;
}

.list-item h3 {
   background: #e8e7e7;
   padding: 16px;
   font-size: 16px;
}

.list-item ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.list-item li {
   padding: 8px 0;
   border-bottom: 1px solid #9a2018;
   font-size: 15px;
}   

.list-item a {
   color: inherit;
   font-size: 13px;
}

.list-item p {
   margin-top: 10px;
   font-size: 15px;
}

/* .list-item .hero-summary */

#faq-text-con {
   margin-top: 20px;
   margin-bottom: 20px;
}

 .dropdown-background {
   background-color: #E8E7E7;
   display: flex;
   margin-top: 10px;
   padding: 15px;
   border-radius: 5px;
 }

 .dropdown-box1 label img {
   width: 13px;
   height: auto;
   margin-right: 10px;
   cursor: pointer;
   transition: all .3s ease;
 }

 .dropdown-box1 input, .list-item {
   display: none;
 }

 .dropdown-box1 input:checked ~ .list-item {
   display: block;
 }
 
 .dropdown-box1 input:checked ~ label img {
   transform: rotate(90deg);
 }
 
 #contact-hero-con {
    background: url(../images/contact-hero.jpg);
    height: 195px;
 }
 
 #contact-hero-heading-box {
    align-self: end;
 }
 
 #contact-hero-text {
    margin-top: 15px;
    margin-bottom: 25px;
 }
 
 #contact-hero-address p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
 }
 
 #contact-hero-address {
    margin-bottom: 30px;
 }
 
 #contact-hero-address h3 {
    margin-bottom: 25px;
 }



#contact-hero-form form {
   display: flex;
   flex-direction: column;
}

#contact-hero-form input, textarea {
   padding: 22px;
   border: 2px solid #d6d6d6;
   background-color: #f7f7f7;
   border-radius: 5px;
   margin-bottom: 30px;
   font: inherit;
   width: auto;
}

#contact-hero-form textarea {
   height: 250px;
}


#contact-hero-form input[type="submit"] {
   padding: 12px 28px;
   background: #9a2018;
   color: #fff;
   border: none;
   transition: all 200ms ease-in;
   width: 150px;
   align-self: flex-end;
}

#contact-hero-form input[type="submit"]:hover {
   background-color: rgb(236, 90, 90);
   border-radius: 10px;
   animation: fade 2s linear;
   cursor: pointer;
   border-radius: 10px;
}

@keyframes fade {
   0% {opacity: 0;}
   50% {opacity: 1;}
 }
 
#close-icon img {
   width: 20px;
   height: 20px;
   margin-top: 15px;
   margin-bottom: 20px; 
   transition: all .5s ease;
   float: right;
}

#close-icon img:hover {
   opacity: 70%;
   /* background-color: #9a2018; */
   /* fill:#9a2018; */
   /* stroke: #9a2018 !important; */
   /* color: #D15F57; */
}

/* #why-choose-us {
   background-color: #ffffff;
 }

 #why-choose-us-nav {
   padding-top: 20px;
}

#restaurent-nav img {
  padding-top: 20px;
} */

#restaurant-pic {
   background: url(../images/Dining-mb-03.jpg) no-repeat;
   height: 195px;
   margin-top: 50px;
 }
 
 #restaurant-pic-heading-box {
    align-self: end;
 }


 #footer-hero {
   background-image: url(../images/footer.jpg);
   background-repeat: no-repeat;
   background-color: #424242;
   color: #fff;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 12px;
   padding-bottom: 80px;
 }

 #footer-hero2 {
   background-image: url(../images/footer-spa-mb.png);
   background-repeat: no-repeat;
   background-color: #424242;
   color: #fff;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 12px;
   padding-bottom: 80px;
}

#footer-hero2 h3 {
   margin-top: 30px;
   font-size: 28px;
   margin-bottom: 16px;
}
 
 #footer-hero h3 {
    margin-top: 30px;
    font-size: 28px;
    margin-bottom: 16px;
 }
 
 #footer-privacy .line-seperator {
    margin-top: 0px;
 }
 
 #footer-contact-info h3 {
    font-size: 23px;
 }
 
 #footer-contact-info p {
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 11px;
 }

 #footer-hero1 {
   background-image: url(../images/footer-spa-mb.png);
   background-repeat: no-repeat;
   background-color: #424242;
   color: #fff;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 12px;
   padding-bottom: 80px;
}

#footer-hero1 h3 {
   margin-top: 30px;
   font-size: 28px;
   margin-bottom: 16px;
}

#footer-privacy1 .line-seperator {
   margin-top: 0px;
}

#footer-contact-info1 h3 {
   font-size: 30px;
   font-style: normal;
}

#footer-contact-info1 p {
   margin-bottom: 20px;
   line-height: 18px;
   font-size: 11px;
}
/* 
.checkbox-notify h2 ul {
   padding: 0;
   list-style-type: none;
}

.checkbox-notify h2 ul li {
   padding: 6px 8px;
   text-transform: uppercase;
}
   */

.checkbox-notify {
   display: flex;
   margin-top: 15px;
   /* margin-left: 10px; */
}

.checkbox-notify input[type="checkbox"] {
   margin-right: 10px;
}

input[type="checkbox"]:checked + span::after {
   content: "\1F338";
   width: 25px;
   height: 25px;
   border-radius: 50%;
   font-size: 24px;
   animation: fadeIn 0.7s;
}

@keyframes fadeIn {
   from {opacity: 0;}
   to {opacity: 1;}
}

/* input[type="submit"] {
   display: block;
   font-family: Verdana,"Rockwell",Helvetica,Serif;
   font-size: 20px;
   width: 120px;
   height: 120px;
   background: #fff;
   padding: 10px;
   border: 0;
   outline: 0;
   border-radius: 50%;
   color: #171717;
   transition: all 200ms;
   cursor: pointer;
 }
 input[type="submit"]:focus {
   background: transparent;
   color: transparent;
   border: none;
   border-top: solid 3px #f8a;
   border-left: solid 3px #fff;
   animation: bounce 100ms linear infinite;
 } */




